IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
PeerAdapter.EndPoints=tcp
Ice.IPv6=0
Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999
ReceiverAdapter.Endpoints=tcp
ReceiverAdapter.AdapterId=ReceiverAdapter1
ReceiverAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

Transfer.proxy=transfer1 -t -e 1.1 @ TransferAdapter1

Receiver.proxy=receiver1 -t -e 1.1 @ ReceiverAdapter1

