IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
PeerAdapter.Endpoints=tcp
TransferAdapter.Endpoints=tcp
Ice.IPv6=0
TransferAdapter.AdapterId=TransferAdapter1
TransferAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

Sender.proxy = sender1 -t -e 1.1 @ SenderAdapter1

Transfer.proxy=transfer1 -t -e 1.1 @ TransferAdapter1
